.header {
  height: 12vh;
  width: 50%;
  margin: 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.header-div {
  height: 8vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.Logo {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.nav-div {
  height: 4vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.696);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-div-links {
  height: 100%;
  padding: 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2.5rem; */
}
.a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  text-decoration: none;
  color: black;
}
.a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.578);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.buttonLoginForm {
  position: absolute;
  left: 5%;
  /* height: 30px; */
  /* width: 60px; */
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background: transparent;
}
